@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

table {
        border-collapse: collapse;
        border-style: groove;
        table-layout: fixed;
        }

td {
    border-style: groove;
    padding: 10px;
    text-align: left;
}


th {
    border-style: groove;
    padding: 10px;
    text-align: center;
}

nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: lightgray;
     padding: 10px;
     font-size: 20px;

}

.nav-links, .auth-links {
    display: flex;
    gap: 15px;
}

.auth-links a {
    font-weight: 700;

}

.dashboard a {
      text-decoration: none;
      margin-right: 15px;
      color: black
}

.create-btn {
      display: inline-block;
      margin-bottom: 8px;
      padding: 6px 8px;
      text-decoration: none;
      font-size: 16px;

      border-radius: 3px;
      text-align: center;
      color: black;
      background: lightgray;
    }

.action-btn {
      display: inline-block;
      margin: 3px;
      padding: 5px 7px;
      text-decoration: none;
      font-size: 14px;

      border-radius: 3px;
      text-align: center;
      color: black;
      background: lightgray;
    }

